.header
  .notification
    .chat-side
      .chat-side__user
        .chat-side__user-content
          .chat-side__user-name tanakanaoki
          .chat-side__user-detail
            %a.chat-side__user--new-groups
            =fa_icon "edit"
            %a.chat-side__user--edit-user
            =fa_icon "cog"
      .chat-side__groups
        .chat-side__groups-lists
          .chat-side__groups-name techA
          .chat-side__groups-message 初めまして

    .chat-main
      .chat-main__header
        .chat-main__header-clear-fixed
          %ul
            %li.chat-main__header--group-name techA
            %li.chat-main__header--group-members MEMBER: a
            %li
              %a.chat-main__header--group-edit-btn(href="")edit

      .chat-main__groups
        .chat-main__groups-content
          %ul
            %li.chat-main__groups-content-user-name tanakanaoki
            %li.chat-main__groups-content-day 2019/01/07 03:23:12
            %li.chat-main__groups-content-message 初めまして

      .footer
        .chat-main__form
          %input{type: "text", value: "type a message", size: "50"}
            %label.upload-label{for: "upload-icon"}
              %i.fa.fa-picture-o
        .chat-main__form-btn
          %input{class: "btn",type: "submit",size: "15",value: "SEND"}



