


.side-bar {
  width: 300px;
  height: 100vh;
  float: left;
  color: $white;


  .header {
  background-color: $side_blue_dark;
  padding: 35px 20px 20px 20px;
  height: 100px;
  position: fixed;
  top: 0;
  width: 260px;

  &__name {
  font-weight: bold;
  font-size: 16px;
  margin-right: 20px;
  float: left;
  }
  & ul {
  float: right;
  }
  & .icon{
  position: relative;
  right: 20px;
  }
  & .icon2{
  position: relative;
  bottom: 25px;
  }
  }

  .groups {
    width: 300px;
    height: 100%;
    background-color: $side_blue_light;
    position: fixed;
    top: 100px;
 }
  .group {
    padding: 40px 20px 0 20px;}
  .group__name {
    font-size: 15px;
  }
  .group__message {
    font-size: 11px;
  }


  &__groups-name {
    font-size: 15px;
    padding-bottom: 5px;
  }
  &__groups-message {
    font-size: 11px;
  }
}
